body{
	margin: 0;
	font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
}

a{
	color: #666666;
	
}

ol{
	padding-left: 25px;
	li{
		margin: 10px 0;
		font-size: 14px;
	
	}

}

h2{
	margin-top: 8px;
	z-index: 1;
	position: relative;
	margin-bottom:0;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: -.1;
	color: #444;
}

h4{
	margin-top: 0px;
	font-weight: normal;
	font-weight: bold;
	text-transform: uppercase;;
	letter-spacing: -.1;
	color: #444;
}

.description{
	font-family:"Times New Roman",Georgia,Serif;
	color: #666;
	font-size: 18px; 

}

.google-font{
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.textInput{
	font-family: 'Oswald', sans-serif;
	border: 2px solid #CCC;
	font-size: 160px;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 280px;
	-webkit-border-radius: 0;
	-webkit-appearance: none;
	padding: 0 0 5px 0;
	margin: 0;
	z-index: 0;
	position: relative;
	bottom: 50px;
	height: 200px;
	
}

#header{
	background-color: #000000;
	height: 100px;
	width: 100%;
	
}

#title {
	padding-top: 20px;
	padding-left: 15px;
	font-size: 40px;
	color: #FFFFFF;
	position: relative;
	float: left;
}

#fullsite{
	position: relative;
	float: right;
	padding-top: 8px;
	padding-right: 15px;
	
}

.search-btn{
	background:url("/images/search.jpg") no-repeat;
	width: 110px;
	height: 33px;
	position: relative;
	float: right;
	top: 10px;
	left: 5px;
	
}

.pin{
	z-index: 10;
	position: relative;
	padding-top: 30px;
	padding-bottom:10px;
	
}

.enter{
	background:url("/images/enter_btn.png") no-repeat;
	width: 75px;
	height: 33px;
	border: none;
	-webkit-border-radius: 0;
	float: right;
	position: relative;
	bottom: 35px;
	z-index: 1;
}

.man-doll-bg{
	background: url("/images/head.jpg") no-repeat 0px -100px;
	background-size: 100%;
	width:100%;
	height:175px;
	margin: 0;
	padding: 0;
	position: absolute;

}

.back-btn{
	background:url("/images/back_btn.png") no-repeat;
	position: absolute;
	top: 29px;
	left: -1px;
	width: 46px;
	height: 32px;

}

.center{
	margin-left: 45px;
	padding-top: 20px;
	padding-bottom: 10px;
	
}

.margin{
	margin: 10px 10px;
}

table{
	width: 100%;
	th{
		text-align: left;
	}

	.odd{
	 	background: #fff;
	}
	.even{
		background: #f1f1f1;
	}	
}

#dumpster{
}

#project{
}

#images{
}

.home-container{
	background: url("/images/head_home.jpg") no-repeat;
	background-size: 100%;
	width:100%;
	height: 310px;
	margin: 0;
	padding: 0;
	
	#logo{
		position: absolute;
		left: 20px;
		top: 55px;
	}
	
	#search{
		position: absolute;
		left: 198px;
		top: 195px;
	}	
}


#pagebreak{
	clear:both;
	background-color: #000000;
	height: 5px;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	bottom: 5px;	
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* Mobile Layout: 320px.
 * Gutters: 24px.
 * Outer margins: 34px.
 * Inherits styles from: Default Layout.
 */

@media screen and (max-device-width: 499px) {
	
	#header{
		background-color: #000000;
		height: 30px;
		width: 100%;
		
	}
	
	#title {
		padding-top: 5px;
		padding-left: 20px;
		font-size: 14px;
		color: #FFFFFF;
		position: relative;
		float: left;
	}
	
	#fullsite{
		position: relative;
		float: right;
		padding-top: 8px;
		padding-right: 20px;
		font-size: 12px;
		font-weight: bold;
		
	}
	
	.container{
		padding: 5px 15px 0px 20px;
	}
	
	#dumpster{
		font-size: 42px;
		font-weight: bold;
		z-index: 1;
	}
	
	#project{
		font-size: 74px;
		line-height: 60px;
		font-weight: bold;
	}
	
	#images{
		
		
	}
	
	#imageleft{
		
		
		
	}
	
	
	#pagebreak{
		
	}

}



