<div id="header">
	<div id="title">THE DUMPSTER PROJECT</div>
	<div id="fullsite">
			<% if user_signed_in? %>
			<%= link_to 'Logout', logout_path %>
			<% else %>
			<%= link_to 'Login', login_path%>
			<% end %>
	</div>
</div>

