.container
	#dumpster.google-font The Dumpster
	#project.google-font Project
	#images
		#imageleft= image_tag "head_home.jpg"
		= link_to "", search_path, :class => "search-btn"
		
#pagebreak 
.container
	%ol
		%li I have archived much of my life through collected objects.
		%li I am moving to a smaller studio, making it necessary that I get rid of a lot of these objects.
		%li I will do so by using them as the raw material for one enormous collage, created inside a 30-yard dumpster.