<%= render 'header' %>

<div id="container">
	<div id="dumpster">THE DUMPSTER</div>
	<div id="project">PROJECT</div>
	
	<div id="images">
		<div id="imageleft"><%= image_tag "head_home.jpg" %></div>
		<div id="imageright"><a href="pages/search.html"><%= image_tag "search.jpg",  %></a></div>
	</div>

</div>

<div id="pagebreak"></div>

<div id="container">
	<p>1. Lorem ipsum rendered pages home.html.erb within layouts/application (13.5ms)</p>
	<p>2. Lorem ipsum rendered pages home.html.erb within layouts/application (13.5ms)</p>
	<p>3. Lorem ipsum rendered pages home.html.erb within layouts/application (13.5ms)</p>
	
</div>



