.container
	=image_tag "pin.png", :class => "pin" 
	- form_for(:item_search, :url => '/items/search') do |f|
		= f.text_field :search_id, :class => "textInput"
		= submit_tag "", :class => "enter"
.man-doll-bg