<%= render 'header' %>

<h1>ENTER PIN #</h1>

<% form_for(:item_search, :url => '/items/search') do |f| %>
<%= f.text_field :search_id %>
<%= submit_tag "Search "%>

<% end %>

<%= link_to "Back", home_path %>
