.container
	%h1.google-font Enter Pin #
	- form_for(:item_search, :url => '/items/search') do |f|
		= f.text_field :search_id, :class => "textInput"
		= submit_tag "", :class => "enter"
	= image_tag "head.jpg", :class => "rel-positioning"