<%= render 'header' %>

<h1>ENTER PIN #</h1>

<div id="container">

	<% form_for(:item_search, :url => '/items/search') do |f| %>
	<%= f.text_field :search_id, :class => "textInput" %>
	<%= submit_tag "Search "%>

	<% end %>

	<%= link_to "Back", home_path %>

</div>
